extends ../layout

block content

	h1 New User

	form(method="POST", action="/users")
		p
			label(for="username") Username<br />
			input#username(name="username")
		p
			label(for="name") Name<br />
			input#name(name="name")
		p
			label(for="profession") Profession<br />
			textarea#profession(name="profession")
		p
			label(for="email") Email<br />
			input#email(name="email")
		p
			label(for="gender") Gender<br />
			input#gender(name="gender")
		p
			label(for="birthday") Birthday<br />
			input#birthday(name="birthday")
		p
			input(type="submit", value="Create")