h1 Users

p
  a(href="/users/new") Create new profile

ul
  - for(var username in userlist) {
    li
      a(href="/users/" + encodeURIComponent(userlist[username].username))= userlist[username].name
      a(class="button",href="/users/edit/"+encodeURIComponent(userlist[username].username)) &nbsp; Edit
  - };
