extends ../layout

block content
	h1= title
	p
		a(href="/users/new") Maak een nieuwe gebruiker aan.
	ul
		- for(var user in users) {
		li
			a(href="/users/" + encodeURIComponent(user))=users[user].username
		- };

